html{
    font-family: 'IBM Plex Sans';
}

.heading-l{
    font-size: 3.5rem;
}

// .heading-l-500-upcase {
//     font-size: 3.5rem;
//     font-weight: 500;
// }


.heading-m {
    font-size: 2.5rem;
}

.heading-s {
    font-size: 1.5rem;
}

.paragraph-l {
    font-size: 2rem;
} 


.upcase {
    text-transform: uppercase;
}

.w-500 {
    font-weight: 500;
}

.spacing-2 {
    letter-spacing: .2rem;
}