.form--add-to-cart {
    &__input {
        background-color: #eee;
        border: solid 1px #c8c8c8;
        padding: 1.4rem 1rem;
        border-radius: .2rem;
        max-width: 6rem;
        margin-right: 1rem;
    } 
}

